<body class="row">
  <div class="col-1-2" id="site_description">
    <h1>Виртуальный разгон</h1>
    <ul >
      <li>
        Попробуй себя в виртуальной сборке компьютера
      </li>
      <li>
        Разгони его до максимальных мощностей
      </li>
      <li>
        Соревнуйся с другими пользователями и создай лучшую из всевозможных сборок
      </li>
      <li>
        Обсуди сборку с другими пользователями
      </li>
    </ul><br>
    <button (click)="openCreationAssembly()">Создать сборку</button>
  </div>
  <img class="col-1-2" src="../assets/picture_on_the_home_page.jpg"/>
</body>
