<div id="main">
  <div class="login-form" [formGroup]="form">
    <br>
    <div class = "label">Вход в аккаунт</div> <br>
    <input id="username" [(ngModel)]="user.username" formControlName="username" maxlength = "23" autocomplete="off"
      [ngClass] = "{'input-bad': username?.errors && (username?.dirty || username?.touched)}" placeholder="Имя пользователя">
    <br>
    <div *ngIf="username?.errors?.['minlength'] && (username?.dirty || username?.touched)">
      <div class = "hint">Используйте не менее 4 символов</div>
    </div>
    <div *ngIf="username?.errors?.['required'] && (username?.dirty || username?.touched)">
      <div class = "hint">Имя пользователя не может быть пустым</div>
    </div>
    <br>
    <br>
    <input id="password" [(ngModel)]="user.password" formControlName="password" maxlength = "23" type="password"
      [ngClass] = "{'input-bad': password?.errors && (password?.dirty || password?.touched)}" placeholder="Пароль">
    <div  *ngIf="password?.errors?.['required'] && (password?.dirty || password?.touched)">
      <div class = "hint">Пароль не может быть пустым</div>
    </div>
    <div  *ngIf="password?.errors?.['minlength'] && (password?.dirty || password?.touched)">
      <div class = "hint">Используйте не менее 6 символов</div>
    </div>
    <div *ngIf="isLoginFailed">
      <div class = "hint">Неверное имя пользователя или пароль</div>
    </div>
    <div *ngIf="!form.valid">
      <div class = "buttons">
        <button class="forgotPassword" type="button">Забыли пароль?</button>
        <button id="authorizeDisabled" type="button" (click)="onSubmit()" disabled>Войти</button>
      </div>
    </div>
    <div *ngIf="form.valid">
      <div class = "buttons">
        <button class="forgotPassword" type="button">Забыли пароль?</button>
        <button id="authorize" type="button" (click)="onSubmit()">Войти</button>
      </div>
    </div>
    <br>
  </div>
</div>
