* {
  color:  #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  font-family: "Segoe UI", serif;
  font-size: 1.4vw;
}

#main {
  background: rgba(156, 157, 175, 0.4);
  position: relative;
  margin: auto;
  width: 40%;
  text-align: center;
  border-radius: 2.5vh;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  width: 60%
}
.buttons {
  text-align: left;
}

button {
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 1.2vw;
  height: 5vh;
  color:  #FFFFFF;
  background: rgba(0, 0, 0, 0.0);
  margin-top: 2.2vh;
  margin-bottom: 1.9vh;
  overflow: auto;
  white-space: nowrap;
  border: none;
  cursor:pointer;
}

#authorize {
  float: right
}

#authorizeDisabled {
  float: right;
  color: grey;
  cursor: not-allowed;
}

#userName, password {
  margin-top: 1%;
}

.label {
  text-align: left;
  margin-top: 6%;
}

input {
  border: 0.35vh solid rgba(255, 172, 172, 0.0);;
  border-radius: 0.35vh;
  padding: 0.7vh 1vh;
  width: 95%;
  color: black;
}

.input-bad {
  border: 0.35vh solid red;
  background: rgba(255, 172, 172, 1.0);
}

.hint {
  font-size: 1.0vw;
  margin-top: 2%;
}
