* {
  color:  #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  font-family: "Segoe UI", serif;
  font-size: 1.2vw;
}

#main {
  background: rgba(156, 157, 175, 0.4);
  position: relative;
  margin: auto;
  width: 35%;
  text-align: center;
  border-radius: 1em;
}

.registration-form {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 6% 6%;
}

.registration-form button{
  padding-top: 10%;
}

button {
  color:  #FFFFFF;
  background: rgba(0, 0, 0, 0.0);
  margin-bottom: 2%;
  overflow: auto;
  white-space: nowrap;
  border: none;
  cursor:pointer;
}

button:hover{
  font-size: 1.25vw;
}

.label {
  text-align: center;
  font-size: 1.4vw;
}

input {
  border: 0.1em #48346B;
  border-radius: 0.2em;
  padding: 0.2em 0.3em;
  width: 100%;
  color: black;
}

.input-bad {
  border: 0.1em solid red;
  background: rgba(255, 172, 172, 1.0);;
}

.hint {
  font-size: 1.0vw;
  margin-top: 2%;
  text-align: left;
}

#hint_bottom{
  font-size: 1.0vw;
  margin:  0 -20% 0 -20%;
}

.registration-form .input{
  margin-top: 1.5em;
}


