<div id="container">
  <div id="left">
    <div class="bg"></div>
    <div id="text">
    Название сборки: <input id="name"> <br>
    Выбрать материнскую плату: <br> <select id="mb"><option id="{{mb.id}}" *ngFor="let mb of mbs">{{mb.name}}</option></select><br>
    Выбрать процессор: <br> <select id="cpu"><option id="{{cpu.id}}" *ngFor="let cpu of cpus">{{cpu.name}}</option></select><br>
    Выбрать видеокарту: <br> <select id="gpu"><option id="{{gpu.id}}" *ngFor="let gpu of gpus">{{gpu.name}}</option></select><br>
    Выбрать оперативную память: <br> <select id="ram"><option id="{{ram.id}}" *ngFor="let ram of rams">{{ram.name}}</option></select><br>
    <br>
    <button (click)="createAssembly()" type="button">Сохранить</button>
    </div>
  </div>
  <div id="right">
    <div class="bg"></div>
    <div id="info">
      <div class="info">
        <h1>Информация о доп факторах:</h1>
        <p> Охлаждение: система жидкостного охлаждения Thermaltake Water 3.0 360 ARGB Sync </p>
        <p> Блок питания: Dark Power Pro 12 1200W </p>
        <p> Жёсткий диск: Kingston FURY Renegade SSD 1TB M.2 2280 NVMe PCIe Gen 4.0 x4 3D TLC NAND </p>
        <p> Окружающая среда: окружающая температура в тестах принимается за комнатную 20-25°C, остальные факторы влияния опущены </p>
        <p> Корпус: Fractal Design Meshify 2 Light Tempered Glass </p>
      </div>
      <div class="info"><img src="assets/pc.png"></div>
    </div>
  </div>
</div>
