button{
  background-color: #02123E;
  color: #DFDFDF;
  border-radius: 1.2em;
  border: 0.12em solid grey;
  font-family: "Segoe UI", serif;
  font-size: 1vw;
  text-align: center;
  line-height: 1.6vw;
  padding: 0.4em;
}

button:hover{
  background-color: #2c283b;
  color: white;
  border-color: #DFDFDF;
}

button:disabled,
button[disabled]{
  background-color: #5a6870;
  color: white;
  border-color: #DFDFDF;
}

input {
  border: 3px #48346B;
  border-radius: 3px;
  padding: 7px 10px;
  width: 14%;
  color: black;
}

select{
  border: 3px #48346B;
  border-radius: 3px;
  padding: 7px 10px;
  width: 15%;
  color: black;
}
