button{
  background-color: #02123E;
  color: #DFDFDF;
  border-radius: 1.2em;
  border: 0.12em solid grey;
  font-family: "Segoe UI", serif;
  font-size: 1vw;
  text-align: center;
  line-height: 1.6vw;
  padding: 0.4em;
}

button:hover{
  background-color: #2c283b;
  color: white;
  border-color: #DFDFDF;
}

button:disabled,
button[disabled]{
  background-color: #5a6870;
  color: white;
  border-color: #DFDFDF;
}

input {
  border: 3px #48346B;
  border-radius: 3px;
  padding: 7px 10px;
  width: 33%;
  color: black;
}

select{
  border: 3px #48346B;
  border-radius: 3px;
  padding: 7px 10px;
  width: 36%;
  color: black;
}

.paginationControls {
  font-size: 0.5em;
}

pagination-controls ::ng-deep ul > li:not(.active) > a {
  background-color: #8000ff !important;
  color: #DFDFDF !important;
}

pagination-controls ::ng-deep ul > li {
  background-color: #2e0e4f !important;
  color: #DFDFDF !important;
}
