ul{
  padding-left: 5vh;
  height: 12vh;
  display: flex;
  font-family: "Segoe UI", serif;
  font-size: 1.4vw;
  color: #DFDFDF;
}

img {
  max-width: 12vw;
  height: auto;
  display: block;
}

a:active{
  color: #878FFF;
  border-bottom: 1px;
  border-bottom-color: #878FFF;
}

li{
   align-self: center;
   padding-right: 1vw;
   display: inline-block;
 }

li:hover {
  color: #878FFF;
  cursor: pointer;
}

li.top-bar{
  padding-right: 5vw;
}

li.title{
  padding-right: 26vw;
}

.exit-bar {
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
  float:left;
  padding-right: 3vw;
}

div.centred-part{
  padding-right: 6vw;
  align-self: center;
}
