<div>
  <ul>
    <li class="title"><a (click)="openHomePage()" ><img [src]="'../../assets/logo.png'" alt="logo"></a></li>
      <div class="centred-part">
        <ng-template [ngIf]="isAdmin" [ngIfElse]="userView">
          <li class="top-bar"><a (click)="openComponents()" >Компоненты</a></li>
        </ng-template>
        <ng-template #userView>
          <li class="top-bar" *ngIf="isLoggedIn"><a (click)="openMyAssemblies()">Мои сборки</a></li>
          <li class="top-bar" *ngIf="!isLoggedIn"><a (click)="openAuthorization()">Мои сборки</a></li>
        </ng-template>
        <li class="top-bar"><a (click)="openAssemblies()">Все сборки</a></li>
        <li class="top-bar"><a (click)="openRating()">Рейтинг</a></li>

      </div>
    <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
      <li class="exit-bar"><a >{{this.curUser}}</a></li>
      <li class="exit-bar"><a (click)="logOut()" >Выйти</a></li>
    </ng-template>
    <ng-template #loggedOut>
      <li class="exit-bar"><a (click)="openRegistration()" >Регистрация</a></li>
      <li class="exit-bar"><a (click)="openAuthorization()" >Вход</a></li>
    </ng-template>
  </ul>
</div>
