.popup {
  position: fixed;
  margin-top: -8.8%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  display: none;
  z-index: 1000;
}

.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 1vh;
}

.popup_content {
  border-radius: 1.8vh;
  background-color: #2e0e4f;
  color: #9686cf;
  max-width: 100%;
  padding: 4vh;
  position: relative;
}

.popup_close {
  position: absolute;
  right: 1.1vh;
  top: 1.1vh;
  font-size: 1.4vw;
  color: rgba(255,255,255, 0.8);
  text-decoration: none;
  cursor: pointer;
}

.popup_title {
  font-size: 1.65vw;
  text-align: center;
  color: white;
}

.popup_text {
  font-size: 1.4vw;
}
