button{
  background-color: #02123E;
  color: #DFDFDF;
  border-radius: 1.2em;
  border: 0.12em solid grey;
  font-family: "Segoe UI", serif;
  font-size: 1vw;
  text-align: center;
  line-height: 1.6vw;
  padding: 0.4em;
}

button:hover{
  background-color: #2c283b;
  color: white;
  border-color: #DFDFDF;
}

#main{
  background: rgba(156, 157, 175, 0.4);
  position: relative;
  margin: auto;
  text-align: center;
  border-radius: 1em;
  color: white;
  font-size: 1.4vw;
  height: 20vh;
  width: 35%;
  display: table;
}

#content{
  vertical-align: middle;
  display: table-cell;
}

